/*---------------------------------------------------------
Settings
---------------------------------------------------------*/
div#page-admin-container {
  --selection-color: rgba(0,0,255,.5);
  --hover-color: rgba(0,0,255,.2);
}
/*---------------------------------------------------------
Toolbar
---------------------------------------------------------*/
div#page-admin-toolbar {
  position: sticky;
  top: 0px;
  border: 1px black solid;
  border-radius: 3px;
  z-index: 1;
  padding: 5px;
  background-color: white;
}

div#page-admin-toolbar > * {
  margin: 0px;
}
/*---------------------------------------------------------
Main section
---------------------------------------------------------*/
div#page-admin-container {
  margin: 2rem;
}

div#page-admin-container legend {
    border: 0px;
    margin: 0px;
    padding: 5px;
    position: relative;
    box-sizing: border-box;
}

div#page-admin-container .title-wrapper,
div#page-admin-container .headline-wrapper,
div#page-admin-container .item-wrapper.item-type-text_input {
  display: flex;
  align-items: center;
  gap: 10px;
}

div#page-admin-container .item-wrapper.item-type-text_input p {
  margin: 2px 0px;
}

div#page-admin-container i,
div#page-admin-container i::before {
    width: 34px;
}

.changed {
  border: 1px red solid;
}
/*---------------------------------------------------------
Selection
---------------------------------------------------------*/
.hovering,
.hovering > legend::before {
  background-color: var(--hover-color);
}

legend.selected::before,
.selected,
.selected > legend::before {
  border: 2px var(--selection-color) solid;
}
.selected > legend::before {
  border-bottom: 0px;
}

legend.selected::before,
.selected > legend:first-of-type::before,
.hovering > legend:first-of-type::before {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  height: 50%;
  margin: -5px;
  box-sizing: border-box;
}

legend.selected::before {
  height: 100%;
}

div#page-admin-container .editable {
  cursor: text;
}
div#page-admin-container .editable:hover {
  background-color: unset;
}
/*---------------------------------------------------------
Folding sections
---------------------------------------------------------*/
div.page-wrapper.closed  .signup-page-section{
  display: none;
}

.fold-button {
  float: right;
  transform: scale(2);
}

i.fold-button::before{
  margin: 0px;
  content: '\e802';
}

.closed i.fold-button::before{
  margin: 0px;
  content: '\e801';
}
/*---------------------------------------------------------
Context Menu
---------------------------------------------------------*/
div#contextmenu {
  background-color: ghostwhite;
  border: 1px black solid;
  cursor: default;
}

div#contextmenu.closed {
  display: none;
}

div#contextmenu.open {
  display: block;
  position: fixed;
}

div#contextmenu div{
  padding: 2px 5px;
}

div#contextmenu div:hover{
  background-color: lightgray;
}